.icon-search {
    width: 30px;
    height: 30px;
    background-image: url("./vector/search.svg#position_1");
    background-size: cover;
    background-size: no-repeat;
    color: #FFFFFF;
}
.icon-google {
    width: 30px;
    height: 30px;
    background-image: url("./vector/google.svg#position_1");
    background-size: cover;
    background-size: no-repeat;
    color: rgba(0, 0, 0, 0.6);
}
.icon-facebook {
    width: 15px;
    height: 30px;
    background-image: url("./vector/facebook.svg#position_1");
    background-size: cover;
    background-size: no-repeat;
    color: rgba(0, 0, 0, 0.6);
    margin-left:34px;
}
.icon-instagram {
    width: 30px;
    height: 30px;
    background-image: url("./vector/instagram.svg#position_1");
    background-size: cover;
    background-size: no-repeat;
    color: rgba(0, 0, 0, 0.6);
    margin-left:34px;
}
.icon-twitter {
    width: 30px;
    height: 30px;
    background-image: url("./vector/twitter.svg#position_1");
    background-size: cover;
    background-size: no-repeat;
    color: rgba(0, 0, 0, 0.6);
    margin-left:34px;
}
.icon-arrow {
    width: 22px;
    height: 23px;
    background-image: url("./vector/arrow.svg#position_1");
    background-size: cover;
    background-size: no-repeat;
    color: #341616;
}